body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('bacheBack.jfif');
    background-repeat: no-repeat;
    background-size:cover;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #54324d;
    opacity: .95;
    text-align: center;
}

.box h1{
    color: #fd6d64;
    text-transform:  uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
    border 0;
    background: none;
    display: block;
    margin:  20px auto;
    text-align: center;
    border: 2px solid #fd6d64;
    padding: 10px 10px;
    width:  200px;
    outline:  none;
    color: #f7edb3;
    border-radius: 24px;
    transition: .7s;

}

.box input[type = "text"]:hover,.box input[type = "password"]:hover{
    width: 250px;
    border-color: #6557a2;

}

.box input[type="button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #6557a2;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .75;
}

.box input[type="button"]:hover{
    background-color: #6557a2;
}