.infoBaches{
    margin-left: 1vh;
    list-style-type: none;
    
}

.infoBaches ul{
    list-style-type: none;
    text-align: left;
    margin-right: 1vh;
    border-radius: 5px;
    margin-bottom: 4vw;
    
}
#bacheName{
    text-align: center;
    font-size: 25px;
    margin-bottom: 3vh;
}

.infoBaches li{
    margin-bottom: 1vh;
    background-color:#8ee0ed;
    margin-right: 4vh;
    border-radius: 5px;
    margin-bottom: 1vh;
    font-family: sans-serif;
}