.infoBaches{
    padding-left: 1.5vw;
    list-style-type: none;
    
}

.infoBaches ul{
    list-style-type: none;
    text-align: left;
    
}
#bacheName{
    text-align: center;
    font-size: 25px;
    margin-bottom: 3vh;
}

.infoBaches li{
    margin-bottom: 1vh;
}